body { 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: black;
    margin: 20px;
}
.row { 
    gap: 5px;
}
h1 { 
    font-size: 36px;
    text-align: center;
}
h2 { 
    font-size: 24px;
    text-align: center;
}
h3 { 
    font-size: 18px;
    text-align: left;
}
h4 { 
    font-size: 14px;
    text-align: left;
}
p { 
    font-size: 11px;
}
table { 
    border-collapse:collapse;
    text-align: left;
    width: 80lh
}
th:nth-child(1) { 
    width: 150px;
}
th:nth-child(3) { 
    width: 150px;
}
th:nth-child(4) { 
    width: 150px;
}