<!DOCTYPE html>
<html>

<head>
    <title>Instructions</title>
    {% include 'headers.html' %}
</head>

<body>
    <div class="container">
        <h2>Instructions</h2>
        <p>Back to <a href="{{base_url}}">Dashboard</a></p>
        <h3>Download the template file to upload the packages</h3>
        <img width="100%" src="{{base_url}}public/images/download-template.gif">
        <h3>Upload the file with the handover and design pacakges columns filled out</h3>
        <img width="100%" src="{{base_url}}public/images/upload-template.gif">
        <h3>You can download this again at any time</h3>
        <img width="100%" src="{{base_url}}public/images/download-packages-data.gif">
        <h3>Sync the data with RIBcx (formerly iTWOcx)</h3>
        <img width="100%" src="{{base_url}}public/images/sync-worklots.gif">
        <img width="100%" src="{{base_url}}public/images/sync-worklots-processing.gif">
        <h3>Review handover packages and download</h3>
        <img width="100%" src="{{base_url}}public/images/download-packages.gif">
        <img width="100%" src="{{base_url}}public/images/download-packages-processing.gif">
    </div>
</body>

</html>