<!DOCTYPE html>
<html>

<head>
    <title>{{activity_code_type.actv_code_type}}</title>
    {% include 'headers.html' %}
</head>

<body>
    <script>
        // accordians
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems, {
            // specify options here
            });
        });
    </script>
    <div class="container">
        <h2>{{activity_code_type.actv_code_type}}</h2>
        <div class="row">
            <h3>Activity Codes</h3>
            <div class="col s4">
                {% for activity_code in activity_codes %}
                    <p><a href="../activity-code/{{activity_code.actv_code_id}}">{{activity_code.actv_code_name}}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>