<!DOCTYPE html>
<html>

<head>
    <title>Activity Code Types</title>
    {% include 'headers.html' %}
</head>

<body>
    <script>
        // accordians
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems, {
            // specify options here
            });
        });
    </script>
    <div class="container">
        <h2>Activity Code Types</h2>
        <table>
            <tr>
                <th>ID</th><th>Name</th>
            </tr>
            {% for activity_type in activity_types %}
            <tr>
                <td>{{activity_type.actv_code_type_id}}</td>
                <td><a href="./activity-code-type/{{activity_type.actv_code_type_id}}">{{activity_type.actv_code_type}}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>