<!DOCTYPE html>
<html>

<head>
    <title>Activity Code Tasks</title>
    {% include 'headers.html' %}
</head>

<body>
    <script>
        // accordians
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems, {
            // specify options here
            });
        });
    </script>
    <div class="container">
        <h2>{{activity_code.actv_code_name}}</h2>
        <h3>Total assignments: {{activity_code.total_assignments}}</h3>
        <button class="btn waves-effect waves-light" onclick="window.location='./{{activity_code.actv_code_id}}/gantt-chart'">View Gantt Chart</button>
        <button class="btn waves-effect waves-light disabled">Export to Excel</button>
    </div>
</body>

</html>