<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    {% include 'headers.html' %}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Plans</h2>
                <!-- {{plans_table}} -->
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plan in plans %}
                        <tr>
                            <td>{{plan.id}}</td>
                            <td><a href="./p6/plan/{{plan.id}}">{{plan.name}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col s12">
                <button class="btn waves-effect waves-light" onclick="window.location='./p6/plan/upload'">Add new plan</button>
            </div>
        </div>
    </div>
</body>

</html>