<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    {% include 'headers.html' %}
</head>

<body>
    <div class="container">
        <!-- <h1>Dashboard</h1> -->
        <!-- <div class="row">
            <div class="col s12">
                <h3>Instructions</h3>
                <h4><a href="{{base_url}}instructions">Instructions</a></h4>
            </div>
        </div> -->
        <div class="row">
            <div class="col s12">
                <h3>Projects</h3>
                <!-- {{plans_table}} -->
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in plan.projects %}
                        <tr>
                            <td>{{project.proj_id}}</td>
                            <td><a href="./{{plan_id}}/{{project.proj_id}}">{{project.proj_short_name}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>