<!DOCTYPE html>
<html>

<head>
    <title>Task</title>
    {% include 'headers.html' %}
</head>

<body>
    <script>
        // accordians
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems, {
            // specify options here
            });
        });
    </script>
    <div class="container">
        <h2>Task</h2>   
        <table class="table selectable">
            <tr>
                <th>ID</th>
                <td>{{task.task_id}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{task.task_name}}</td>
            </tr>
            <tr>
                <th>Physically Complete</th>
                <td>{{task.phys_complete_pct}}%</td>
            </tr>
            <tr>
                <th>Complete Percent Type</th>
                <td>{{task.complete_pct_type}} %</td>
            </tr>
            <tr>
                <th>Task Type</th>
                <td>{{task.task_type}}</td>
            </tr>
            <tr>
                <th>Duration Type</th>
                <td>{{task.duration_type}}</td>
            </tr>
            <tr>
                <th>Status Code</th>
                <td>{{task.status_code}}</td>
            </tr>
            <tr>
                <th>Target Start Date</th>
                <td>{{task.target_start_date}}</td>
            </tr>
            <tr>
                <th>Actual Start Date</th>
                <td>{{task.act_start_date}}</td>
            </tr>
            <tr>
                <th>Target End Date</th>
                <td>{{task.target_end_date}}</td>
            </tr>
            <tr>
                <th>Actual End Date</th>
                <td>{{task.act_end_date}}</td>
            </tr>
        </table>
    </div>
</body>

</html>