<html>

<head>
    <title>Primavera P6 Viewer</title>
    {% include 'headers.html' %}

    <script src="https://cdn.jsdelivr.net/npm/ibm-gantt-chart@0.5.29/dist/ibm-gantt-chart.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/ibm-gantt-chart@0.5.29/dist/ibm-gantt-chart.min.css" rel="stylesheet">

    <!--  Page styles  -->
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #gantt {
            height: 100%;
            width: 100%;
        }

        .dataTables_wrapper {
            min-height: 100%;
        }
    </style>
</head>

<body>
    <div id="gantt">
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var config = {
                data: {
                    all: {
                        url: "./{{plan_id}}/get",
                        success: function (data) {
                            return data; // Return the processed model
                        }
                    },
                    resources: {
                        data: function (data) { 
                            return data.resources;
                        },
                        parent: 'parent',
                        name: 'name',
                        id: 'id',
                    },
                    reservations: {
                        data: function (data) { 
                            return data.reserverations;
                        },
                        activity: 'activity',
                        resource: 'resource',
                    },
                    activities: {
                        data: function (data) {
                            debugger;
                            return data.activities;
                        },
                        start: function (activity) {
                            if (activity.task_id) { 
                                return activity.target_start_date;
                            } else { 
                                return null;
                            }
                        },
                        end: function (activity) {
                            if (activity.task_id) { 
                                return activity.target_end_date;
                            } else { 
                                return null;
                            }
                        },
                        parent: function (activity) {
                            if (activity.task_id) { 
                                return activity.wbs_id;
                            } else { 
                                return activity.parent_wbs_id;
                            }
                            
                        },
                        name: function (activity) {
                            if (activity.task_id) { 
                                return activity.task_name;
                            } else { 
                                return activity.wbs_name;
                            }
                        },
                        id: function (activity) {
                            if (activity.task_id) { 
                                return activity.task_id;
                            } else { 
                                return activity.wbs_id;
                            }
                        }
                    },
                    constraints: {
                        data: function (data) { 
                            return data.constraints;
                        },
                        from: 'from',
                        to: 'to',
                        type: 'type',
                    }
                },
                type: Gantt.type.ACTIVITY_CHART,
                toolbar: [
                    'title',
                    'search',
                    'separator',
                    'mini',
                    'separator',
                    'fitToContent',
                    'zoomIn',
                    'zoomOut',
                    'separator'
                ],
                title: 'GLU Program',
            };

            globalThis.gantt = new Gantt('gantt', config);
            //$('#loader').remove();
        });


    </script>
</body>

</html>