<!DOCTYPE html>
<html>

<head>
    <title>Primavera P6 Viewer</title>

    <script src="{{base_url}}public/modules/ibm-gantt-chart-0.5.29/ibm-gantt-chart.js" type="text/javascript"></script>
    <link href="{{base_url}}public/modules/ibm-gantt-chart-0.5.29/ibm-gantt-chart.css" rel="stylesheet">

    <!--  Page styles  -->
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #gantt {
            height: 100%;
            width: 100%;
        }

        .dataTables_wrapper {
            min-height: 100%;
        }
    </style>
</head>

<body>
    <div id="gantt">
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var config = {
                data: {
                    all: {
                        url: "./get?type=gantt-chart",
                        success: function (data) {
                            return data; // Return the processed model
                        }
                    },
                    resources: {
                        data: function (data) {
                            return [data];
                        },
                        parent: 'parent',
                        name: 'actv_code_name',
                        id: 'actv_code_id',
                    },
                    reservations: {
                        data: function (data) {
                            return [];
                        },
                        activity: 'activity',
                        resource: 'resource',
                    },
                    activities: {
                        data: function (data) {
                            value = data.activities;
                            return value;
                        },
                        start: function (activity) {
                            if (activity.task_id) {
                                value = activity.target_start_date;
                                value = new Date(value).getTime();
                                return value;
                            }
                            return null;
                        },
                        end: function (activity) {
                            if (activity.task_id) {
                                value = activity.target_end_date;
                                value = new Date(value).getTime();
                                return value;
                            }
                            return null;
                        },
                        parent: function (activity) {
                            if (activity.parent) { 
                                return activity,parent;
                            } 
                            return null;
                        },
                        name: function (activity) {
                            if (activity.task_id) {
                                value = activity.task_name;
                            } else {
                                value = activity.wbs_name;
                            }
                            return value;
                        },
                        id: function (activity) {
                            if (activity.task_id) {
                                value = activity.task_id;
                            } else {
                                value = activity.wbs_id;
                            }
                            return value;
                        }
                    },
                    constraints: {
                        data: function (data) {
                            return [];
                        },
                        from: 'from',
                        to: 'to',
                        type: 'type',
                    }
                },
                type: Gantt.type.ACTIVITY_CHART,
                toolbar: [
                    'title',
                    'search',
                    'separator',
                    'mini',
                    'separator',
                    'fitToContent',
                    'zoomIn',
                    'zoomOut',
                    'separator',
                    {
                        type: 'select',
                        text: 'T-Minus Filter',
                        options: [
                            { value: 0, text: 'None' },
                            { value: 2, text: 'T-Minus 2 Weeks' },
                            { value: 3, text: 'T-Minus 3 Weeks' },
                            { value: 6, text: 'T-Minus 6 Weeks' },
                            { value: 9, text: 'T-Minus 9 Weeks' },
                            { value: 12, text: 'T-Minus 12 Weeks' },
                            { value: 20, text: 'T-Minus 20 Weeks' },
                        ],
                        onchange(value, ctx) {
                            const gantt = ctx.gantt;
                            if (gantt.TMinusFilter) {
                                gantt.removeFilter(gantt.TMinusFilter);
                            }
                            if (value && value !== "0") {
                                gantt.TMinusFilter = gantt.addFilter(
                                    function (obj) {
                                        let data = obj.getData();
                                        let start = new Date(data.target_start_date).getTime();
                                        let end = new Date(data.target_end_date).getTime();
                                        let now = Date.now();
                                        let t_minus = now + 1000*60*60*24*7*parseInt(value);
                                        if (end < now) {
                                            return false;
                                            debugger;
                                        }
                                        if (start > t_minus) {
                                            return false;
                                            debugger;
                                        }
                                        debugger;
                                        return true;
                                    },
                                    true /* filter rows */,
                                    true /* filter activities */
                                );
                            }
                        },
                    },
                ],
                selection: {
                    selectActivities(activities, activity) {
                        window.location = `../../task/${data.task_id}`;
                    },
                },
                timeTable: { 
                    renderer: { 
                        tooltipProperties: function (activity, ctx) { 
                            data = activity.getData();
                            
                            var props = [
                                'Name', data.task_name,
                                'Start', data.target_start_date,
                                'End', data.target_end_date
                            ]
                            return props;
                        }
                    }
                },
                title: "{{project.proj_short_name}}",
            };

            globalThis.gantt = new Gantt('gantt', config);
        });


    </script>
</body>

</html>