<html>

<head>
    <title>Primavera P6 Viewer</title>

    <script src="{{base_url}}public/modules/ibm-gantt-chart-0.5.29/ibm-gantt-chart.js"></script>
    <link href="{{base_url}}/public/modules/ibm-gantt-chart-0.5.29/ibm-gantt-chart.css" rel="stylesheet">

    <!--  Page styles  -->
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #gantt {
            height: 100%;
            width: 100%;
        }

        .dataTables_wrapper {
            min-height: 100%;
        }
    </style>
</head>

<body>
    <div id="gantt">
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var config = {
                data: {
                    all: {
                        url: "./{{resource_id}}/get",
                        success: function (data) {
                            return data; // Return the processed model
                        }
                    },
                    resources: {
                        data: function (data) { 
                            return [data];
                        },
                        parent: 'parent',
                        name: 'rsrc_name',
                        id: 'rsrc_id',
                    },
                    reservations: {
                        data: function (data) { 
                            return [];
                        },
                        activity: 'activity',
                        resource: 'resource',
                    },
                    activities: {
                        data: function (data) {
                            value = data.activities;
                            if (typeof value == 'undefined') debugger;
                            return value;
                        },
                        start: function (activity) {
                            if (activity.task_id) { 
                                value = activity.target_start_date;
                            } else { 
                                value = null;
                            }
                            if (typeof value == 'undefined') debugger;
                            return value;
                        },
                        end: function (activity) {
                            if (activity.task_id) { 
                                value = activity.target_end_date;
                            } else { 
                                value = null;
                            }
                            if (typeof value == 'undefined') debugger;
                            return value;
                        },
                        parent: function (activity) {
                            value = activity.parent;
                            if (typeof value == 'undefined') debugger;
                            return value;
                        },
                        name: function (activity) {
                            if (activity.task_id) { 
                                value = activity.task_name;
                            } else { 
                                value = activity.wbs_name;
                            }
                            if (typeof value == 'undefined') debugger;
                            return value;
                        },
                        id: function (activity) {
                            if (activity.task_id) { 
                                value = activity.task_id;
                            } else { 
                                value = activity.wbs_id;
                            }
                            if (typeof value == 'undefined') debugger;
                            return value;
                        }
                    },
                    constraints: {
                        data: function (data) { 
                            return [];
                        },
                        from: 'from',
                        to: 'to',
                        type: 'type',
                    }
                },
                type: Gantt.type.ACTIVITY_CHART,
                toolbar: [
                    'title',
                    'search',
                    'separator',
                    'mini',
                    'separator',
                    'fitToContent',
                    'zoomIn',
                    'zoomOut',
                    'separator'
                ],
                title: 'GLU Program',
            };

            globalThis.gantt = new Gantt('gantt', config);
            //$('#loader').remove();
        });


    </script>
</body>

</html>
