<!DOCTYPE html>
<html>

<head>
    <title>{{name}} Packages</title>
    {% include 'headers.html' %}
</head>

<body>

    <div class="container">
        <h1>{{name}} Packages</h1>
        <p>Back to <a href="{{base_url}}">Dashboard</a></p>
        <!-- Table of Contents -->
        <table>
            <thead>
                {% for row in headers %}
                <tr>
                    <th>Actions</th>
                    {% for cell in row %}
                    <th>
                        {{cell}}
                    </th>
                    {% endfor %}
                </tr>
                {% endfor %}
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>
                        <a href="./{{row[0]}}">Open</a>
                    </td>
                    {% for cell in row %}
                    <td>
                        {{cell}}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>