<!DOCTYPE html>
<html>

<head>

    <head>
        <title>Sync</title>
            {% include 'headers.html' %}
            <script src="{{base_url}}public/js/progress-sync.js" type="text/javascript"></script>
        </head>
<body>
    <div class="container">
        <h2>Sync Worklots</h2>
        <p>Back to <a href="{{base_url}}">Dashboard</a></p>
        <h3 id="status">Starting</h3>
        <div id="progress-bar" class="progress">
            <div class="indeterminate"></div>
        </div>
        <p id="progress-message"></p>
    </div>
</body>

</html>
